h1, h2, h3{
      margin-left: 2%;
}


h1{
  font-family: 'Playfair Display', serif;
  font-size: 42px;
}

h2,h3{
  font-family: 'Raleway', sans-serif;
  max-width: 550px;
}


h4{
  margin-left: 38%;
  text-transform: uppercase;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
}
